// Social Colors
$color-twitter: #55acee;
$color-facebook: #3B5998;
$color-youtube: #CD332D;
$color-instagram: #517FA4;

a.link-twitter{color: $color-twitter;}
a.link-facebook{color: $color-facebook;}
a.link-youtube{color: $color-youtube;}
a.link-instagram{color: $color-instagram;}

.social {
  @include inline-navigation(1rem);
}