// PREFIXING
@mixin prefix($property, $value) {
  -webkit-#{$property}: #{$value};
  -moz-#{$property}: #{$value};
  -ms-#{$property}: #{$value};
  -o-#{$property}: #{$value};
  #{$property}: #{$value};
}

@mixin flexbox {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
}

@mixin border-radius($radius: 0) {
  @include prefix(border-radius, $radius)
}

@mixin inline-navigation($margin) {
  ul {
    list-style:none;
    margin:0;
    padding:0;

    li {
      display:inline-block;
      margin-right:$margin;

      &:last-child {
        padding-right: 0;
      }
    }
  }
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

